html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}
.navbar{
	-webkit-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.75);
}
hr.featurette-divider {
    margin: 25px 0;
}
.footer {
  position: relative;
/*   margin-top: -150px; negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}
@media (max-width: 992px){
	footer .col-sm-12{
		text-align: center;
		margin: 0 auto;
	}
}
@media (max-width: 768px){
	.navbar-form input{
		width: 50%;
		min-width: 215px;
	}
}

.header-black{
    padding: 1%;
    background-color: rgba(5,5,5,.8);
    vertical-align: middle;
    font-family:'Kreon', serif;
    color:white;
    display: block;
    text-align: center;
}
.glyphicon {
    font-family: inherit;
}
.glyphicon:before{
    font-family:'Glyphicons Halflings';
}
/*Bootstrap Overide*/
.nav-tabs>li {
    float: left;
    margin-bottom: -2px;
}

.footer-content{
	    margin-top: 1%;
}

.total-items-counter{
	    /*margin-bottom: -15%;*/
}
