<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>       
  <session-factory>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="show_sql">true</property> 
    <mapping resource="UserProfile.hbm.xml"/>
    <mapping resource="ProfileDetail.hbm.xml"/>
    <mapping resource="Category.hbm.xml"/>
    <mapping resource="Word.hbm.xml"/>
    <mapping resource="Video.hbm.xml"/>
    <mapping resource="Request.hbm.xml"/>
  </session-factory>
</hibernate-configuration>