html, body {
  /*height: 100%;*/
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.terms-header{
	display:block;
}

.search-text-box{
	margin-top:3%;
	margin-bottom:3%;
}

.home-search-glyphicon {
	top:0%;
}

.dropdown-container-home{
	margin-top:2%;
	margin-bottom:2%;
}

.dropdown-button-home, .dropdown-ul-home{
	width:100%;
}

.terms-list{
	overflow:auto;
	height: 400px;
}

.video-container{
	width:100%;
	height: 400px;
}

.punctuation{
	float:left;
}

.visits{
	float:right;
}